{% load staticfiles %}
<div class="ui raised segment">
        <h2 class="ui header">
            <i class="feed icon"></i>
            <div class="content">
                Objetivos do Projeto
            </div>
        </h2>





        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Automação</a>
                    <div class="description">
                        <p>é um sistema automático de controle pelo qual os mecanismos verificam seu próprio funcionamento, efetuando medições e introduzindo correções, sem a necessidade da interferência do homem. Em seu uso moderno, a automação pode ser definida como uma tecnologia que utiliza comandos programados para operar um dado processo, combinados com retroação de informação para determinar que os comandos sejam executados corretamente, frequentemente utilizada em processos antes operados por seres humanos[2], é a aplicação de técnicas computadorizadas ou mecânicas para diminuir o uso de mão-de-obra em qualquer processo, especialmente o uso de robôs nas linhas de produção. A automação diminui os custos e aumenta a velocidade da produção. Fonte: Lacombe (2004)
                        </p>
                        <p> Automação comercial - Ramo da automação onde ocorre a aplicação de técnicas específicas na otimização de processos comerciais, geralmente utilizando-se mais software do que hardware, tais como: sistemas controle de estoques, contas a pagar e receber, folha de pagamentos, identificação de mercadorias por códigos de barras ou por rádio frequência (RFID), etc. </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Segunraça</a>
                    <div class="description">
                        <p>Saber quem e o que entra e sai das
empresas é fundamental para garantir
a segurança tanto das pessoas quanto
do patrimônio. Já pensou como seria
se qualquer um pudesse acessar
todas as áreas de um banco ou do
estoque de uma grande empresa
fabricante de eletroeletrônicos, por
exemplo? Certamente ocorreriam
muitos problemas.
                        </p>
                        <p> Para o acesso de visitantes, um software de controle de acesso libera a entrada
somente depois que eles tiverem seus dados cadastrados em um setor especial.
Essa medida é mais uma forma de garantir a segurança tanto de quem está no local
quanto do patrimônio. </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Gerenciamento</a>
                    <div class="description">
                        <p> O sistema da porta automatica traz praticidade, por causa de sua comodidade e faclidade de uma pessoa
                            se cadastrar e utilizar a porta automatica</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
