<div class="ui raised segment">
        <h2 class="ui header">
            <i class="cubes icon"></i>
            <div class="content">
                Suporte
            </div>
        </h2>

            <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header" href="{% url 'faleConosco' %}">Fale com Suporte</a>
                    <div class="description">
                        <p> Nós estamos muito interessados no que você tem a dizer. Por isso, criamos este espaço especialmente para
                            você fazer seus comentários, dar sugestões e esclarecer dúvidas. Escreva pra gente!
                            É fácil, rápido e teremos o maior prazer em responder.<p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header" href="{% url 'emailAtivacao' %}">Reenviar email de ativação do Cadastro</a>
                    <div class="description">
                        <p> Caso nao tenha recebido o e-mail de ativação, para obtelo click no link acima, depois basta ir
                        no seu e-mail e se cadastrar. </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header" href="{% url 'emailRecuperarSenha' %}">Redefinir senha de acesso</a>
                    <div class="description">
                        <p>
                        Se tiver esquecido sua senha, podemos recuperar de uma maneira bem facil, click em redefinir senha de acesso e
                            você colocara seu e-mail, no seu e-mail você vai receber uma mensagem com o link para redefinir sua senha.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
