{% extends 'visitante/baseVisitante.html' %}
{% load staticfiles %}
{% block title %}{{ tituloPagina }}{% endblock title %}
{% block body %}
    {% include 'visitante/suporte/articleSuporte.html' %}
{% endblock %}

{% block aside %}
    <section id="loginUser" class="ui yellow segment">
    <h2 class="">
        <i class="cubes icon"></i>
        Email de Ativação
    </h2>
    <form class="ui form red" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            <section class="ui header"></section>
            {% for field in formEmailAtivacao %}
                    <div id="div-{{ field.id_for_label }}">
                        {{ field }}
                        {% if field.errors %}
                            <div id="error" class="ui pointing label top red basic erro">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
            {% endfor %}
        <br/>
        <input type="submit" value="Enviar" class="ui positive right floated small button">
        <br/><br/>

    </form>
    </section>
{% endblock %}