<!DOCTYPE html>
<html lang="pt-br">
<head id="header">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/semantic/semantic.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/semantic/components/dropdown.css' %}"/>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/semantic/semantic.js' %}"></script>
    <script src="{% static 'js/semantic/dropdown.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    <title>{% block title %}{% endblock title %}</title>
</head>
<body id="conteudo" onload="Menu();">
<div id="nav" class="ui grid stackable">
    <nav class="ui sixteen wide column">
        <div id="navTopLine" class="ui wide column row "></div>
        <br></br>
        <div class="ui wide column row">

                 <h2 class="ui header">
            <i class="feed icon "></i>
            <div class="content">
                Fale Conosco do Administrador
            </div>
        </div>
    </nav>
</div>


<div id="body" class="ui grid stackable">
    <div class="ui one wide column row"></div>
    <article class="ui fourteen wide column ">
        {% block body %}{% endblock %}
    </article>
    <div class="ui one wide column "></div>
</div>

<div id="footer" class="ui grid stackable">
    <footer class="ui sixteen wide column ">
        <div class="ui tertiary center aligned segment">
            <address class=" center ">Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Câmpus
                Araquari<br>
                Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Araquari - SC - Fone (47) 3803-7200 - Fax (47)
                3803-7201
            </address>
        </div>
    </footer>
</div>


<section id="modelServiceMessenger" class="ui small modal">
    <div class="header">Mensagem</div>
    <div class="content">
        <input id="serviceMessenger" type="text" value="{{ messengerError }}{{ messengerSucess }}" hidden>
        <p>{{ messengerError }} {{ messengerSucess }}</p>
    </div>
    <div class="actions">
        <div class="ui approve green button">Continue</div>
    </div>
</section>

</body>
</html>